title: Zhiqiang Zang

my_name: Zhiqiang Zang # Match and bold my name in publications

plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-seo-tag

sass:
  sass_dir: _sass

# theme:

collections:
  authors:
    output: true

defaults:
  - scope:
      path: ""
      type: "authors"
    values:
      layout: "author"
  - scope:
      path: ""
    values:
      layout: "default"

exclude:
  - scripts
  - vendor
  - .gitignore
  - .gitattribute
  - Gemfile
  - Gemfile.lock
  - README.md
  - TODO.md
