<div id="about">
  <h2>About</h2>
  <p>Welcome back, Commander! My name is <b>Zhiqiang Zang</b> (<b>臧志强</b>).</p>

  <p>
    I am a fourth year Ph.D. candidate at
    <a href="https://www.utexas.edu/">The University of Texas at Austin</a>,
    working with Prof. <a href="http://users.ece.utexas.edu/~gligoric/">Milos
      Gligoric</a>. My current reserch interests are compiler testing
    and test generation. I have also explored other software
    engineering and programming language topics, including debugging
    and declarative languages.
  </p>

  <p>
    I obtained my B.E. in Telecommunication Engineering at
    <a href="https://www.bupt.edu.cn">Beijing University of Posts and
      Telecommunications</a> in 2018</a>.
  </p>
</div>
