<div id="about">
  <h2>About</h2>
  <img src="{{ '/assets/img/avatar.jpg' | absolute_url }}" alt="My avatar" class="avatar">
  <p>Welcome back, Commander!</p>
  <p>
    My name is <b>Zhiqiang Zang</b> (<b>臧志强</b>).
    I am a Ph.D. candidate at
    <a href="https://www.utexas.edu/">The University of Texas at Austin</a>,
    working with Prof. <a href="https://users.ece.utexas.edu/~gligoric/">Milos
      Gligoric</a>. My current research interests are JIT
    (Just-In-Time) compiler testing and optimization. I am also
    familiar with other software engineering and programming language
    topics, including debugging, domain-specific languages, program
    analysis, etc.
  </p>

  <p>
    I obtained my B.E. in Telecommunication Engineering at
    <a href="https://www.bupt.edu.cn">Beijing University of Posts and
      Telecommunications</a> in 2018</a>.
  </p>
</div>
