<div id="about">
  <h2>About</h2>
  <p>Welcome back, Commander! My name is Zhiqiang Zang (臧志强).</p>

  <p>
    I am a third year Ph.D. student at
    <a href="https://www.utexas.edu/">The University of Texas at Austin</a>,
    working with Prof. <a href="http://users.ece.utexas.edu/~gligoric/">Milos
      Gligoric</a>. My current reserch interests are fuzz testing,
    test generation and regression testing. I have also explored other
    software engineering and programming language topics, including
    debugging and declarative languages.
  </p>

  <p>
    I obtained my B.E. in Telecommunication Engineering at
    <a href="https://www.bupt.edu.cn">Beijing University of Posts and
      Telecommunications</a> in 2018</a>.
  </p>
</div>
