<div id="fun-facts">
  <h2>Fun facts</h2>
  <p>
    My favorite video game franchise is
    <a href="https://en.wikipedia.org/wiki/Command_%26_Conquer:_Red_Alert_(series)">
      <i>Command & Conquer: Red Alert</i>
    </a>. I have been playing the game since I was an eight-year-old
    boy. I organized nine tournaments for the game(s) since 2017. My
    dream is to visit all the cities or places appearing in the video
    game in real world and I have visited eight of them: San Antonio,
    Los Angeles, San Francisco, St. Louis, Chicago, New York City,
    Seattle, and Colorado Springs!

    <!-- Let's uncomment these two things until I really do something
         towards making them come true. -->
    <!-- to make a movie for the franchise and to develop the next
         generation of the series, which should be Red Alert 4. -->
  </p>
  <p>
    PS, let me know if you are also a big fan! Subscribe/follow me on
    <a href="https://www.youtube.com/channel/UCh6DvGxHiStTfZGqs1HVaOQ">YouTube</a>
    /
    <a href="https://space.bilibili.com/155512273">Bilibili</a>.
  </p>
</div>
