<div id="publications">
  <h2>Publications</h2>
  <ul>
  {% for item in site.data.publications %}
    <li>
    <span class="title">{{ item.title }}</span>
    <span class="author">
      {% for author in item.authors %}
        {% if forloop.last %}
          and 
        {% endif %}
      {% if author == site.my_name %}
        <em>{{ author }}</em>
      {% else %}
        {% assign is_coauthor = false %}
        {% for coauthor in site.data.coauthors %}
          {% if author == coauthor.name %}
            <a href="{{ coauthor.link }}">{{ author }}</a>
            {% assign is_coauthor = true %}
            {% break %}
          {% endif %}
        {% endfor %}
        {% if is_coauthor == false %}
          {{ author }}
        {% endif %}
      {% endif %}
      {% comment %} Remove space before , {% endcomment %}
      {% unless forloop.last %}
      ,
      {% endunless %}
      {% endfor %}
    </span>
    <span class="booktitle">
      {% if item.type == "inproceedings" %}
        {{ item.booktitle }}
      {% endif %}
    </sapn>
    <span class="misc">
      {% if item.shortbooktitle %}
        ({{ item.shortbooktitle }}),
      {% endif %}
      {% if item.pages %}
        pages {{ item.pages }},
      {% endif %}
      {% if item.location %}
        {{ item.location }},
      {% endif %}
      {% if item.year %}
        {{ item.year }}.
      {% endif %}
    </span>
    <span class="links">
      {% if item.html %}
        [<a href="{{ item.html }}">HTML</a>]
      {% endif %}
      {% if item.pdf %}
        [<a href="{{ item.pdf | prepend: '/dl/papers/' | absolute_url }}">PDF</a>]
      {% endif %}
      {% if item.slides %}
        [<a href="{{ item.slides | prepend: '/dl/slides/' | absolute_url }}">Slides</a>]
      {% endif %}
      {% if item.code %}
        [<a href="{{ item.code }}">Code</a>]
      {% endif %}
    </span>
    </li>
  {% endfor %}
  </ul>
</div>
