<div id="publications">
  <h2>Publications</h2>
  <ul>
  {%- for item in site.data.publications -%}
    <li>
    <span class="title">{{ item.title }}</span>
    <span class="author">
      {%- for author in item.authors -%}
        {%- assign author_name = author | split: ", " | last_first_name | reverse | join: " " -%}
        {%- unless forloop.first -%}
          {%- if forloop.last -%}
            {{ ' and ' }}
          {%- else -%}
            {{ ', ' }}
          {%- endif -%}
        {%- endunless -%}
        {%- if author_name == site.my_name -%}
          <em>{{ author_name }}</em>
        {%- else -%}
          {%- assign is_coauthor = false -%}
          {%- for coauthor in site.data.coauthors -%}
            {%- if author_name == coauthor.name -%}
              <a href="{{ coauthor.link }}">{{ author_name }}</a>
              {%- assign is_coauthor = true -%}
              {%- break -%}
            {%- endif -%}
          {%- endfor -%}
          {%- if is_coauthor == false -%}
            {{ author_name }}
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}
    </span>
    <span class="booktitle">
      {{ item.booktitle }}
    </sapn>
    <span class="misc">
      {%- if item.shortbooktitle -%}
        ({{ item.shortbooktitle }})
        {%- if item.pages or item.location or item.year -%}
          {{ ', ' }}
        {%- endif -%}
      {%- endif -%}
      {%- if item.pages -%}
        pages
        {% assign pages_arr = item.pages | split: "--" %}
        {{ pages_arr | first }} &ndash; {{ pages_arr | last }}
        {%- if item.location or item.year -%}
          {{ ', ' }}
        {%- endif -%}
      {%- endif -%}
      {%- if item.location -%}
        {{ item.location }}
        {%- if item.year -%}
          {{ ', ' }}
        {%- endif -%}
      {%- endif -%}
      {%- if item.year -%}
        {{ item.year }}
      {%- endif -%}
      {%- if item.shortbooktitle or item.pages or item.location or item.year -%}
      .
      {%- endif-%}
    </span>
    <span class="links">
      {%- if item.html -%}
        [<a href="{{ item.html }}">HTML</a>]
      {%- endif -%}
      {%- if item.pdf -%}
        [<a href="{{ item.pdf | prepend: '/dl/papers/' | absolute_url }}">PDF</a>]
      {%- endif -%}
      {%- if item.slides -%}
        [<a href="{{ item.slides | prepend: '/dl/slides/' | absolute_url }}">Slides</a>]
      {%- endif -%}
      {%- if item.tool -%}
        [<a href="{{ item.tool }}">Tool</a>]
      {%- endif -%}
    </span>
    </li>
  {%- endfor -%}
  </ul>
</div>
