body {
  color: #000;
  background-color: $theme-light;
  font-family: "San Francisco", "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft Yahei", "WenQuanYi Micro Hei", sans-serif;
  min-height: 100%;
  margin: 0;
  padding: 0 0 2.5em 0; // bottom has to be set the same value as height of footer div
}
