/* Banner. */
#banner {
  color: #ffffff;
  background-color: $theme-dark;
  border-bottom: 1px solid $theme-dark;
  img {
    max-width: 1318px;
  }
  h1 {
    margin: 0;
    padding: .2em .4em; // .2em;
    font-size: 2.2em;
    font-weight: normal;
  }
}

/* Menu. */
#menu {
  margin: 5px 0 0 0; // top right bottom left

  a:link, a:visited {
    color: $theme-dark;
  }
  a:hover, a:active {
    color: #ffffff;
    background-color: $theme-dark;
  }
  a.current{
    background: $theme-dark;
    color: #ffffff;
  }

  ul {
    list-style-type: none; // remove bullets
    text-align: center;
    width: max-content;
    // border: 3px solid green; // for debugging
    margin: auto;
    padding: 0;
    li {
      min-width: 120px;
      width: auto;
      font-size: 1.4em;
      display: block;
      float: left;
      margin: 2px;
      padding: 0;
      a {
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        padding: .2em;
      }
    }
  }
  ul:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    clear: both;
    height: 0;
  }
}

/* Responsive setting for menu. */
@media screen and (max-width: 600px) {
  #menu {
    ul li {
      float: none;
      width: auto;
      font-size: 1.2em;
    }
    :after {
      display: none
    }
  }
}

/* Content. */
#content {
  margin: 10px auto; // top&bottom left&right
  // min-width: 25em;
  padding: 0 .6em;
  max-width: 33em;
  font-size: 16px;

  blockquote {
    margin: 0;
    margin-left: 1.5em;
    border-left: 10px solid #ccc;
    padding: 15px;
    color: #444444;
    background: #f0f0f0;
  }

  blockquote p {
    border-radius: 5px;
    font-style: italic;
  }

  blockquote footer {
    font-style: normal;
    text-align: right;
  }

  // blockquote p::before {
  //   content: '\201C';
  //   color: #ccc;
  //   font-size: 4em;
  //   line-height: 0.1em;
  //   margin-right: 0.25em;
  //   vertical-align: -0.4em;
  // }
  blockquote:before {
    content: '\201C';
    color: #ccc;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
}

/* Blank space between content and footer. */
#clear {
  clear: both;
  height: 1px;
}

/* Footer. */
#footer {
  clear: both;
  position: fixed;
  left: 0;
  bottom: 0;
  height: auto; // hardcoded: bottom padding of body in _base.scss has
                // to be set to no less than the height
  width: 100%;
  border-top: 1px solid $theme-dark;
  background-color: $theme-dark;
  #inner {
    margin: .2em .6em;
    text-align: right;
    color: #ffffff;
  }
}
