/* Publications list. */
#publications {
  font-size: $small;
  span {
    display: block;
  }
  em {
    font-style: normal;
    font-weight: bold;
  }
  .title {
    font-style: italic;
    font-size: $normalsize;
  }
  ul li {
    padding: 5px 0px;
  }
}
