/* Publications list. */
#publications {
  span {
    display: block;
  }
  em {
    font-style: normal;
    font-weight: bold;
  }
  .title {
    font-style: italic;
  }
  ul li {
    padding: 5px 0px;
  }
}
