---
---

/*** Constants. ***/

/* colors.  */
$theme-light: #f6f6f6;
$theme-dark: #1e90ff; // #00bfff; 

/* font sizes.*/
$h2size: 1.5em;
$large: 18px;
$normalsize: 16px;
$small: 14px;

/* Font families. */

/* Sans-Serif */
$font-sans:
  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial,
  "PingFang SC", "Noto Sans SC", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei",
  sans-serif;

/* Serif */
$font-serif:
  "New York", "Georgia", "Times", "Cambria", "Times New Roman", "Liberation Serif", "Noto Serif",
  "Songti SC", "STSong", "Songti TC", "Noto Serif SC", "Noto Serif CJK SC", "Noto Serif Simplified Chinese", "NotoSerifSC-Regular", "NotoSerifCJKsc-Regular", "Source Han Serif SC", "Source Han Serif CN", "Source Han Serif Simplified", "SourceHanSerifSC-Regular", "思源宋体", "思源宋體", "SimSun", "NSimSun", "宋体",
  serif;

/* Monospace */
$font-mono: "SF Mono", "Menlo", "Monaco", "Consolas",  "Liberation Mono", "DejaVu Sans Mono", "Noto Sans Mono", monospace;

/*
 * Used RGB values
 * Yuri purple: #9528bd
 * deepskyblue: #00bfff
 */

@import "base";
@import "layout";
@import "publications";
